{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html>

<head>
    <!-- BASE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
    <title>Sample</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any"><!-- 32×32 -->
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}"><!-- 180×180 -->
    <link rel="manifest" href="{% static 'json/manifest.webmanifest' %}">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- JS -->
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
</head>

<body>
    <header class="header sticky-top">
        <!-- ナビゲーションメニュー -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-main">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Sample</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div id="nav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'app:list' %}">一覧</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'app:contact_form' %}">お問い合わせ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- フッター -->
    <footer class="border-top mt-4">
        <div class="py-4">
            <div class="d-flex justify-content-center text-muted">
                © {% now "Y" %} Sample. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>

</html>