{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>お問い合わせ</title>
{% endblock %}

{% block content %}
<!-- 問合せフォーム -->
<div class="content">
    <div class="container my-5">
        <h1>お問い合わせ</h1>
        <div class="my-3">
            <form method="post" action="" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-3">
                    <button type="submit" class="submit btn btn-dark">送信</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}